.input-container {
  width: 100%;
  max-height: 100px;
  max-width: 300px;
  padding: 30px 30px;
  background: rgb(123, 15, 145);
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;
  height: 100vh;
  }


input[type="text"] {
  width: 100%;
  padding: 20px 40px;
  border: 1px solid var(--grey);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

button[type="submit"] {
  background: rgb(180, 23, 146);
  color: rgb(255, 0, 0);
  font-weight: 500;
  border: none;
  font-size: 1em;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
}